<section class="summary">
    <div class="product-img-container">
        <img class="product-img" src="//unsplash.it/250/200" [alt]="product?.brandName + ' ' + product?.productName">
    </div>
    <div class="product-specs">
        <div class="product-name"> Apple iPhone 12 Pro Max </div>
        <div class="product-desc">
            <b>Specifications:</b>
            <ul>
                <li> <b>RAM</b>: 4GB</li>
                <li> <b>Capacity</b>: 64GB</li>
                <li> <b>Screen</b> : 6'x3.5'</li>
            </ul>
        </div>
    </div>
</section>

<section class="product-details">
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis nam quod provident id soluta mollitia sequi eos, libero velit doloremque saepe ipsa? Commodi quidem iste ea, adipisci aliquid ut illo.
    </p>

    <img src="//unsplash.it/1080/420" alt="">

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum tempora corrupti reprehenderit quidem laboriosam consequatur asperiores repellendus iusto eos illo, possimus, porro praesentium molestiae maxime sint delectus hic quod numquam?
    </p>

    <ul>
        <li>Hello world</li>
        <li>Lorem ipsum</li>
        <li>Egg Spam</li>
        
    </ul>
</section>

<section class="recommendations">
    <ul>
        <li>
            <div class="recommendation">
                <img src="//unsplash.it/200/200">
                <div class="recomm-prod-name">
                    Apple iPhone 13
                </div>
            </div>
        </li>
        <li>
            <div class="recommendation">
                <img src="//unsplash.it/200/201">
                <div class="recomm-prod-name">
                    Samsung S20 Plus
                </div>
            </div>    
        </li>
        <li>
            <div class="recommendation">
                <img src="//unsplash.it/200/202">
                <div class="recomm-prod-name">
                    Google Pixel 6
                </div>
            </div>
        </li>
        <li>
            <div class="recommendation">
                <img src="//unsplash.it/200/203">
                <div class="recomm-prod-name">
                    Google Pixel 5a
                </div>
            </div>
        </li>
        <li>
            <div class="recommendation">
                <img src="//unsplash.it/200/204">
                <div class="recomm-prod-name">
                    OnePlus 6
                </div>
            </div>
        </li>
    </ul>
</section>